on:
  pull_request:
    paths:
      - "aws-glue-resource/**"
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir:
          - resource1
          - resource2
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@main
        with:
          python-version: "3.10"
      - run: pip install -r aws-glue-resources/${{ matrix.dir }}/test-requirements.txt
      - run: pytest aws-glue-resources/${{ matrix.dir }}/test-script.py
